[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "public"]
	path = public
	url = https://github.com/lagobello/lagobello.github.io.git
	branch = master
