{{ if .Site.Params.christmas.enable }}
<link rel="stylesheet" href="{{ " css/christmas.css" | relURL }}">{{ end }}
{{ if .Site.Params.new_year_sale.enable }}
{{ partial "new_year_fireworks.html" . }}{{ end }}
{{ partial "sale_config.html" . }}
{{ partial "facebook-verification.html" . }}
{{ if and (eq .Section "lots") .IsPage }}
{{ partial "json-ld-product.html" . }}
{{ end }}
{{ partial "meta-pixel-head.html" . }}
{{ partial "gtm-head.html" . }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Lago Bello",
  "url": "https://www.lagobello.com",
  "logo": "https://www.lagobello.com/img/lago-logo-500-500.png"
}
</script>