{{ $geo := .Params.geo }}
{{ $desc := .Params.description }}

{{ $imgUrl := "https://www.lagobello.com/img/photographs/lago-gate-2025-cropped.jpg" }}
{{ $slug := lower (replace .Title " " "-") }}
{{ $localImg := printf "img/lots/%s.jpg" $slug }}
{{ if fileExists (printf "static/%s" $localImg) }}
{{ $imgUrl = printf "https://www.lagobello.com/%s" $localImg }}
{{ else }}
{{ if and $geo.latitude $geo.longitude $.Site.Params.googleMapsApiKey }}
{{ $imgUrl = printf
"https://maps.googleapis.com/maps/api/streetview?size=600x400&location=%f,%f&fov=90&pitch=0&return_error_code=true&key=%s"
$geo.latitude $geo.longitude $.Site.Params.googleMapsApiKey }}
{{ end }}
{{ end }}

{{ $place := dict
"@type" "Place"
"name" (printf "%s — Lago Bello" .Title)
"address" (dict "@type" "PostalAddress" "streetAddress" "1000 Vittorio Alfieri Avenue" "addressLocality" "Olmito" "addressRegion" "TX" "postalCode" "78575" "addressCountry" "US")
"geo" $geo
"additionalProperty" (slice
(dict "@type" "PropertyValue" "name" "Lot Size" "value" (index .Params "size_sqft"))
(dict "@type" "PropertyValue" "name" "Subdivision" "value" .Params.subdivision)
(dict "@type" "PropertyValue" "name" "Close To" "value" .Params.close_to)
)
}}

{{ $jsonLd := dict
"@context" "https://schema.org"
"@type" "RealEstateListing"
"name" .Title
"description" $desc
"url" .Permalink
"image" (slice $imgUrl)
"datePosted" (now.Format "2006-01-02")
"about" $place
}}

{{ if .Params.offers }}
{{ $offers := .Params.offers }}
{{ if $offers.seller }}
{{ $offers = merge $offers (dict "seller" (dict "@type" "Organization" "name" $offers.seller.name)) }}
{{ end }}
{{ $jsonLd = merge $jsonLd (dict "offers" $offers) }}
{{ end }}

<script type="application/ld+json">
{{ $jsonLd | jsonify | safeJS }}
</script>
