{{ $description := default .Site.Params.defaultDescription .Description | markdownify | plainify }}
{{ $image := .Params.banner | default .Site.Params.default_sharing_image }}

{{ $jsonLd := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" .Title
  "description" $description
  "url" .Permalink
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "author" (dict "@type" "Organization" "name" "Lago Bello" "url" "https://www.lagobello.com")
  "publisher" (dict "@type" "Organization" "name" "Lago Bello" "logo" (dict "@type" "ImageObject" "url" "https://www.lagobello.com/img/lago-logo-500-500.png"))
}}

{{ with .Lastmod }}
{{ $jsonLd = merge $jsonLd (dict "dateModified" (.Format "2006-01-02T15:04:05Z07:00")) }}
{{ end }}

{{ if $image }}
{{ $jsonLd = merge $jsonLd (dict "image" (printf "https://www.lagobello.com/%s" $image)) }}
{{ end }}

<script type="application/ld+json">
{{ $jsonLd | jsonify | safeJS }}
</script>
