{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $title := .Get "title" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $class := .Get "class" | default "img-responsive" -}}
{{- $loading := .Get "loading" | default "lazy" -}}
{{- $fetchpriority := .Get "fetchpriority" | default "auto" -}}
{{- $local := printf "static/%s" $src -}}
{{- $w := 0 -}}
{{- $h := 0 -}}
{{- if fileExists $local -}}
  {{- with (imageConfig $local) -}}
    {{- $w = .Width -}}
    {{- $h = .Height -}}
  {{- end -}}
{{- end -}}
{{- $titleAttr := "" -}}
{{- with $title -}}{{- $titleAttr = printf " title=%q" . -}}{{- end -}}
{{- $widthAttr := "" -}}
{{- if $w -}}{{- $widthAttr = printf " width=%q" (printf "%d" $w) -}}{{- end -}}
{{- $heightAttr := "" -}}
{{- if $h -}}{{- $heightAttr = printf " height=%q" (printf "%d" $h) -}}{{- end -}}
{{- $fetchAttr := "" -}}
{{- if ne $fetchpriority "auto" -}}{{- $fetchAttr = printf " fetchpriority=%q" $fetchpriority -}}{{- end -}}
{{- $captionHTML := "" -}}
{{- with $caption -}}
  {{- $captionHTML = printf "\n  <figcaption>%s</figcaption>" (. | markdownify) -}}
{{- end -}}
{{- printf "<figure class=\"blog-figure\">\n  <img src=%q class=%q alt=%q%s%s%s loading=%q%s>%s\n</figure>" ($src | relURL) $class $alt $titleAttr $widthAttr $heightAttr $loading $fetchAttr $captionHTML | safeHTML -}}
