<div>
  <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.0.3/css/ol.css" type="text/css">
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.0.3/build/ol.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/css/interactive-property-map.css">
  
  <div id="ol-map" class="map"></div>
  <div id="mouse-position"></div>
  <script type="application/javascript" src="/js/interactive-property-map.js"></script>
  
  
  <div id="feature-name"></div>
  
  <h3>Known issues:</h3>
  <p>1. lot Area  and centroid should be calculated at runtime.</p>
  <p>2. Add satelite imaging button</p>
  
</div>
