<div>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
  <script src="https://cdn.rawgit.com/calvinmetcalf/leaflet-ajax/gh-pages/dist/leaflet.ajax.min.js" crossorigin=""></script>
  
  <link rel="stylesheet" type="text/css" href="/css/interactive-property-map.css" />

  <div id="mapid" style="width:640px;height:480px;"></div>
  <script type="application/javascript" src="/js/interactive-property-map.js"></script>


  <h3>Known issues:</h3>
  <p>1. Lot layout and shapes have changed</p>
  <p>2. Lot #ids are wrong.</p>
  <p>3. Lot colors are incorrect. They should be according to a status.</p>
  <p>4. Need to add Area to lot info. This should be inserted into file at CAD level or calculated at runtime.</p>
  <p>5. Need to add lot status to each lot</p>
  <p>6. Additional data points to lot info? price?</p>
</div>
