<div id="obs-notebook"></div>

<script type="module">
  // Load the Observable runtime and inspector.
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";

  // Your notebook, compiled as an ES module or local file.
  import define from "{{ .Get "url" }}";

  var displayedCellsArray = "{{ .Get "displayedCells" }}".split(',');
  for (var index in displayedCellsArray){
    console.debug("displayCell name is: " + displayedCellsArray[index]);
  }

const runtime = new Runtime();

const main = runtime.module(define, name => {
  // if name is in array
  if (displayedCellsArray.indexOf(name) > -1) {
    console.debug("Adding inspector for: " + name)
    var notebookdiv = document.getElementById('obs-notebook')
    var content = document.createElement('div');
    notebookdiv.appendChild(content);
    return new Inspector(content);
  } else {
    console.debug("Skipping inspector for: " + name )
    return true
  }
});
</script>

<style>
    #obs-notebook {
      font-size: 1em;
      background: #fdfdfd;
      border-radius: 4px;
      border: 2px solid #ccc;
      padding: 9px;
    }
    /* For jashkenas/inputs/description field */
    #obs-notebook > * > form > div > div{
      font-size: 1rem !important;
    }
    /* For jashkenas/inputs/forms */
    #obs-notebook > div > form{
      margin: 10px
    }
    /* For jashkenas/inputs/range */
    #obs-notebook > div > form > div > input[type=range]{
	    width: 300px;
    }
</style>