<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/css/plotly.css"/>
</head>

<div id="waterLevelScatter"></div>
<div class="row">
  <div class="column" id="waterLevelChangeHour"></div>
  <div class="column" id="waterLevelChangeDay"></div>
</div>
<div class="row">
  <div class="column" id="waterLevelChangeWeek"></div>
  <div class="column" id="waterLevelChangeMonth"></div>
</div>
<script src="/js/water-level-plot.js"></script>
